/* Se importa bulma, que es un framework de css */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  margin: 0px;
  padding: 0px;
}

:root {
    --dark: #0e141c;
    --white: #ffffff;
    --back: #cccccc;
}

.menu {
    position: absolute;
    height: 100%;
    background: var(--dark);
    color: var(--white);
}   

.menu .menu-items .menu-title {
    font-size: 25px;
    margin-left: 20px;
}

/* INFO DE LA REUNION */
.menu .menu-items .meet-info {
    margin-left: 15px;
    margin-right: 15px;
}

/* FECHA DE LA REUNION */
.menu .menu-items .meet-info .meet-date {
    display: flex;
    height: 10vh;
    border-radius: 5px;
    align-items: center;
    align-content: space-between;
}

.menu .menu-items .meet-info .meet-date .meet-date-info {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
    
}

.menu .menu-items .meet-info .meet-date .meet-date-info #fecha {
    font-size: 15px;
}

.menu .menu-items .meet-info .meet-date .meet-date-info span {
    font-size: 25px;
}

.menu .menu-items .meet-info .meet-date .meet-date-info i {
    margin-left: 18vh;
}

/* HORA DE LA REUNION */
.menu .menu-items .meet-info .meet-hour {
    display: flex;
    height: 10vh;
    border-radius: 5px;
    align-items: center;
    align-content: space-between;
}

.menu .menu-items .meet-info .meet-hour .meet-hour-info {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.menu .menu-items .meet-info .meet-hour .meet-hour-info #hora {
    font-size: 15px;
}

.menu .menu-items .meet-info .meet-hour .meet-hour-info span {
    font-size: 25px;
}

.menu .menu-items .meet-info .meet-hour .meet-hour-info i {
    margin-left: 18vh;
}

/* ENLACE DE LA REUNION */
.menu .menu-items .meet-info .meet-link {
    display: flex;
    height: 10vh;
    border-radius: 5px;
    align-items: center;
    align-content: space-between;
}

.menu .menu-items .meet-info .meet-link .meet-link-info {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.menu .menu-items .meet-info .meet-link .meet-link-info #enlace {
    font-size: 15px;
}

.menu .menu-items .meet-info .meet-link .meet-link-info span {
    font-size: 13px;
}

.menu .menu-items .meet-info .meet-link .meet-link-info i {
    cursor: pointer;
    margin-left: 27vh;
}

/* ARCHIVOS DE LA REUNION */
.menu .menu-items .meet-files {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.menu .menu-items .meet-files .files {
    margin-left: 15px;
    list-style: none;
    border-radius: 5px;
}

.menu .menu-items .meet-files .files .files-title .li-title {
    padding: 10px;
    font-size: 15px;
}

.menu .menu-items .meet-files .files .files-menu {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 13px;
}

.menu .menu-items .meet-files .files .files-menu .day-files .files-items .img-visual {
    cursor: pointer;
}

/* CERRAR SESION EN LA SIDEBAR */
.menu .menu-items .close-session {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    height: 50px;
}

.menu .menu-items .close-session .close-session-btn {
    display: flex;
    align-content: center;
    align-items: center;
}

.menu .menu-items .close-session .close-session-btn span { 
    padding: 10px;
    margin-left: 15px;
}

.menu .menu-items .close-session .close-session-btn .fa {
    padding: 5px;
    margin-left: 15vh;
    cursor: pointer;
}

/* MAIN CONTENT */
/* .main-content {
    background-color: var(--dark);
}   */

.main-content .main-img .img {
    display: flex;
    position: absolute;
    width: 42rem;
    height: 15rem;
    margin-top: 12vh;
    margin-left: 48vh;
    align-items: center;
    align-content: center;
}

.main-content .bottom-content {
    display: flex;
    position: absolute;
    width: 42rem;
    height: 20rem;
    margin-top: 50vh;
    margin-left: 48vh;
}

.main-content .bottom-content .bottom-content-left {
    background: var(--back);
    width: 20rem;
    border-radius: 3px;
    margin-right: 1rem;
}

.main-content .bottom-content .bottom-content-right {
    background: var(--back);
    width: 20rem;
    border-radius: 3px;
    margin-left: 1rem;
}

.main-content .bottom-content .info {
    margin-left: 15px;
    margin-right: 15px;
}

.main-content .bottom-content .info .personal-info {
    display: flex;
}

.main-content .bottom-content .info .personal-info .personal-id {
    float: left;
    margin-right: 40px;
}

.main-content .bottom-content .info .personal-info .personal-id span {
    font-size: 1rem;
}

.main-content .bottom-content .info .personal-info .personal-id p {
    font-size: .8rem;
}


.main-content .bottom-content .info .personal-info .personal-dpt {
    float: left;
}

.main-content .bottom-content .info .personal-info .personal-dpt span {
    font-size: 1rem;
}

.main-content .bottom-content .info .personal-info .personal-dpt p {
    font-size: .8rem;
}


.main-content .bottom-content .info .personal-info .name span {
    font-size: 1rem;
}

.main-content .bottom-content .info .personal-info .name p {
    font-size: .8rem;
}


.main-content .bottom-content .info .personal-info .email {
    float: left;
    margin-right: 40px;
}

.main-content .bottom-content .info .personal-info .email span {
    font-size: 1rem;
}

.main-content .bottom-content .info .personal-info .email p {
    font-size: .8rem;
}


.main-content .bottom-content .info .personal-info .sign {
    float: left;
    width: 5rem;
    height: auto;
}

.main-content .bottom-content .bottom-content-left .cancel {
    display: inline;
    margin-left: 43px;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.main-content .bottom-content .bottom-content-right .info .title-right {
    margin-top: 50px;
    margin-left: 19%;
    
}

.main-content .bottom-content .bottom-content-right .info .meet-rest-hour {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-left: 50px;
    text-align: center;
}

.main-content .bottom-content .bottom-content-right .info .meet-rest-hour .days {
    margin-right: 15px;
}

.main-content .bottom-content .bottom-content-right .info .meet-rest-hour .hours {
    margin-left: 15px;
    margin-right: 15px;
}

.main-content .bottom-content .bottom-content-right .info .meet-rest-hour .minutes {
    margin-left: 15px;
    margin-right: 15px;
}

.main-content .bottom-content .bottom-content-right .info .progress-bar-bottom {
    margin-top: 30px;
}

.main-content .bottom-content .bottom-content-right .info .progress-bar-bottom .porcentage {
    margin-left: 160px;
}

.main-content .bottom-content .bottom-content-right .enter {
    display: inline;
    margin-left: 27px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

/* SIDEBAR DERECHO */
.news {
    position: fixed;
    background: var(--back);
    height: 100%;
    width: 25%;
    margin-left: 75%;
}

.news .image-right {
    /* display: flex; */
    margin-top: 12vh;
    margin-left: 14px;
    margin-right: 14px;   
}

.news .image-right img {
    /* display: flex; */
    border-radius: 3px;
    height: 15rem;
    margin-left: 10px;
}

.news .image-right .text-in {
    margin-top: -70px;
    margin-left: 20px;
}

.news .prox-meets {
    margin-left: 24px;
}

.news .prox-meets .meets {
    display: flex;
    flex-direction: column;
}

.news .prox-meets .meets .meets-into {
    display: flex;
    height: 70px;
    margin-bottom: 10px;
}

.news .prox-meets .meets .meets-into .image-meets {
    width: 80px;
    border-radius: 5px;
}

.news .prox-meets .meets .meets-into .specs {
    margin-left: 10px;
}

